.topnav1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 245, 245);
}
.navjosla {
    float: right;
}

.navjosla a {
    display: block;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(224, 219, 219);
    color:rgb(247, 242, 242);
}
.image1 {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    height: 48px;
    margin-left: 30px;
    margin-top: 1px;
}
.breadcrumb{
    background-color: white!important;
}

#articlescolour{
    color: rgb(177, 171, 171)!important;
}
.row{
    margin-right: 0px!important;
    margin-left: 0px!important;
}

#bildeliela {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

#bildeliela2 {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

#bildeliela3 {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

#bildeliela4 {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

#bildeliela5 {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

#bildeliela6 {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

#bildeliela7 {
    border: 1px solid black!important;
    margin-bottom: 5px!important;
}

.footer {
    background-color: rgb(248, 245, 245);
    text-align: left;
    padding: 10px;
}
